/Data/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Data/obj/Debug/net8.0/Data.AssemblyInfo.cs
/Data/obj/Debug/net8.0/Data.AssemblyInfoInputs.cache
/Data/obj/Debug/net8.0/Data.assets.cache
/Data/obj/Debug/net8.0/Data.csproj.AssemblyReference.cache
/Data/obj/Debug/net8.0/Data.GeneratedMSBuildEditorConfig.editorconfig
/Data/obj/Debug/net8.0/Data.GlobalUsings.g.cs
obj/
bin/
.*
CoursePlanner.sln.DotSettings.user